body{
    background-image: url("background.png");
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Dancing Script', cursive;
    width: 100%;
}

.wrapper { 
    width: 80%;
    min-width: 700px;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    float: right;
    padding: 15px;
}

.sidenav {
    height: 100%; 
    width: 170px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #FFFFF0; 
    overflow-x: hidden; 
    padding-top: 20px;
}

.sidenav a {
    padding: 10px 8px 10px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #244360;
    display: block;
}

.sidenav a:hover {
    color: 	#68A5E4;
}

.sidenav a:active {
    background-color: #244360;
}

.main {
    margin-left: 160px; 
    padding: 0px 10px;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

p {
    color: #244360;
    font-size: 18px;
}

h1 {
    text-align: center;
    color: #244360;
    font-size: 45px;
}

h2 {
    text-align: center;
    margin:auto;
    color: #FFFFF0;
    font-size: 40px;
}

h3 {
    font-size: 30px;
    text-align: center;
    margin: auto;
    color: #FFFFF0;
}

#welcome {
    color: #244360;
    font-size: 30px;
    margin-left: 25%;
    overflow: auto;
    width: 40%;
    text-shadow: 2px 2px #FFFFF0;
    font-weight: bold;
}

main a {
    font-size: 20px;
    color: #244360;
}

main a.active {
    color: black;
}

#rsvp {
    font-size: 28px;
}

#lovestory {
    text-align: center;
    font-size: 28px;
    width: 70%;
    min-width: 700px;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
}

#map {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    height: 300px;
    align-content: left;
}

video {
    margin-left:32%;
}

form {
    font-size: 28px;
    text-align: center;
}

.themaids {
    content-align: center;
}
.meet h2{
	color: black;
	line-height: 280px;
}
.meet img{
	float: left;
}
.clear{
	float: clear;
}