body{
    background-image: url("homepic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Dancing Script', cursive;
}

.header {
  height: 50px;
  width: 100%;
  margin: 0px auto;
  text-align: center;
  background-color: #006;
  opacity: 0.6;
}

.vertical-menu {
  width: 240px; /* Set a width if you like */
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 17px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  font-size: 20px;
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #006; /* Add a green color to the "active/current" link */
  color: white;
}

p {
    color: #004;
    font-size: 18px;
}

h1 {
  font-size: 35px;
  text-align: center;
}
