body{
    background-image: url("background.png");
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Dancing Script', cursive;
}

#wrapper { 
    width: 80%;
    min-width: 700px;
    max-width: 1024px;
    margin-right: auto;
	  margin-left: auto;
}

.vertical-menu {
    width: 240px; 
    float: left; 
}

.vertical-menu a {
    background-color: #FFFFF0; 
    color: black; 
    display: block; 
    padding: 17px; 
    text-decoration: none; 
    font-size: 20px;
}

.vertical-menu a:hover {
    background-color: #FFFFF0; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #244360; /* Add a green color to the "active/current" link */
    color: #FFFFF0;
}

p {
    color: #004;
    font-size: 18px;
}

h1, h2 {
    text-align: center;
    margin:auto;
    color: #FFFFF0
}

.clock {
    padding-left: 10px;
}
